/* Form styling */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#divOptions {
  display: flex;
  flex-wrap: wrap;
}

#divOptions * {
  margin: 5px;
}

#swaggerLink {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  aspect-ratio: 1;
  padding: 5px;
}

div#divOptions>* {
  flex: 1 1 0px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: solid black 1px;
}

body {
  height: 100vh;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
}

th {
  background-color: #f2f2f2;
  color: black;
}

.tp {
  background-color: #4caf4f;
  color: white;
}

.tn {
  background-color: #2195f3;
  color: white;
}

.fp {
  background-color: #f44336;
  color: white;
}

.fn {
  background-color: #ff9900;
  color: white;
}