body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.disabled{
  opacity: 0.5;
  background-color: gray !important;
  cursor: not-allowed !important;
}